@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  background: azure;
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  cursor: url(../design/cursor.png), auto!important;
}

a, i, input, img, h1, button, figure{
  cursor: url(../design/thumb.png), auto!important;
}

::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    border: 10px solid #3c6e71;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #edf2f4;
    border: 3px solid #3c6e71;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
   
  a{
    text-decoration: none;
  }

.secton{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #fca311;
  height: 100dvh;
  min-width: 750px;
  width: 100%;
}

.secton .hello{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3c6e71;
  padding: 20px;
  gap: 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: fit-content;
  width: 375px;
}

.secton .hello .head{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: aliceblue;
  padding: 20px;
  border-radius: 10px;
  transition: all 450ms;
  height: fit-content;
  width: 100%;
}

.secton .hello .head h1{ 
  font-family: "Overlock", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.secton .hello .head:hover{
  color: azure;
  background: #0b090a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.secton .hello .head:active{
 transform: scale(1.07);
}

.secton .hello .name{
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;
 padding: 10px;
 border-radius: 10px;
 height: fit-content;
 width: 100%;
}

.secton .hello .name p{
font-size: 20px;
font-weight: 500;
}

.secton .hello .name p:hover{
  color: #fffcf2;
}

footer{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #0b090a;
  padding: 10px;
  height: fit-content;
  min-width: 750px;
  width: 100%;
}

footer p{
  font-size: 16px;
  color: azure;
}
